

{%  extends 'layaout.html' %}

              {% block content %}
              
              <div class="container">

                        <div class="btn-group-vertical">
                                <a href="/pago"  class="btn btn-danger">Pagos pendientes</a>
                                <a href="/nc" class="btn btn-danger">Nota Creditos Pendientes </a>
                                <a href="/clientes" class="btn btn-danger">Clientes Nuevos</a>
                             
                        </div>
                      </div>
                      
        

              {% endblock %}

