<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/stylus.css">
    <title>App</title>
</head>
<body>
        <div class="card">
                <h5 class="card-header">Starholding App</h5>
              </div>
              
              <div class="container">
                <div class="btn-group-vertical">
                        <input type="submit" value="Pago Pendientes" id="" class="btn btn-danger">
                        <input type="submit" value="Nota de Credito Pendientes" class="btn btn-danger">
                        <input type="submit"value="Clientes Nuevos"class="btn btn-danger">
                      </div>

              </div>
              


</body>
</html>