{% extends 'layaout.html' %}

{% block content %}

<a href="/" class="btn btn-dark"><i class="fas fa-arrow-alt-circle-left"></i></a>




  <div class="container m-auto">
      <table class="table bg-white">

        <tr>
          <td>cliente</td>
          <td>apellido</td>
          <td>correo</td>
        </tr>
        {% for usuario in usuarios  %}
        <tr>
           
            <td>{{ usuario.1 }}</td>
            <td>{{ usuario.2 }}</td>

        
        </tr>
        {% endfor %}


      </table>

  

  </div>

{%  endblock %}